:root{
    --lightJalebi: #f0a080;
    --beige: #ffeedb;
    --jalebi: #f14f0f;
    --darkBlue: #12130f;
    --lightBlue: #1a1a1a;
    --outlinePoster: #565656;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "general sans", Arial, Helvetica, sans-serif;
    color: white;
}



img{
    display: block;
}

html,body{
    width: 100%;
    height: 100%;
}


main{
    min-height: 100vh;
    background-color: var(--darkBlue);

    display: flex;
    flex-direction: column;
    
}


.navbar{
    background-color: var(--lightBlue);
    height: 10vh;
    width: 95%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    margin: 1vw;
    margin: 2vw auto ;

}

.title{
    cursor: default;
    color: var(--beige);
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: -.25vw;
}


.mode{
    display: flex;
    gap: 0.5vw;
}

.mode div{
    cursor: pointer;
    background-color: white;
    height: 3vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

div#orangeDarkMode{
    background-color: var(--jalebi);
}
div#beigeLightMode{
    background-color: var(--beige);
}

.navbar a{
    text-decoration: none;
}
.username{
    color: var(--jalebi);
    font-size: 1.5vw;
    font-weight: 500;
}

.posters{
    margin: 2vw 3vw;
    display: grid;
    grid-template-columns: repeat(5, 17%);
    gap: 3vw 2vw;
    justify-content: center;    
}


.posters div{
    background-color: black;
    width: 15vw;
    aspect-ratio: .75/1;
    border-radius: 1vw;
    outline: 5px solid var(--outlinePoster);
    transition: all 300ms ease;
}

.posters div:hover{
    transform: scale(105%);
    box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.37);
}



/* adding movie posters */

.posters #first{
    background-image: url(./resources/rockstarMovie.jpg);
    background-position: center;
    background-size: cover;
}



/* display mode hover */

#orangeDarkMode:hover{ 
    transform: scale(110%);
    transition: all 150ms ease;
}
#beigeLightMode:hover{ 
    transform: scale(110%);
    transition: all 150ms ease;
}




/* adding lightmode */
.lightmain{
    background-color: var(--jalebi);
}

.lightnavbar{
    background-color: var(--lightJalebi);
}
.lighttitle{
    color: var(--darkBlue);
}
.lightusername{
    color: var(--darkBlue);
}
